<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>sign_up</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>display</display-name>
    <servlet-name>display</servlet-name>
    <servlet-class>com.sign_up.display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>display</servlet-name>
    <url-pattern>/display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setpass</display-name>
    <servlet-name>setpass</servlet-name>
    <servlet-class>com.sign_up.setpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setpass</servlet-name>
    <url-pattern>/setpass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tempo</display-name>
    <servlet-name>tempo</servlet-name>
    <servlet-class>com.sign_up.tempo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tempo</servlet-name>
    <url-pattern>/tempo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>check</display-name>
    <servlet-name>check</servlet-name>
    <servlet-class>com.sign.check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
</web-app>